.container {
  font-family: 'Wix Madefor Text', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.controls {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.controls button {
  background-color: #97856f;
  color: #1a1a1a;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.controls button:hover {
  background-color: #c0c0bc;
}

.aceul {
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
  color: white;
  justify-content: space-around;
}

.textA {
  margin-top: 50px;
  text-align: center;
  max-width: 80%;
  color: #ffffff;
  font-size: 2.4vw;
  text-shadow: rgb(0 0 0 / 100%) 6px 3px 10px;
}
.textA h1 {
  margin-bottom: 20px;
}
.textA p {
  margin-top: 0;
}
.filters {
  box-shadow: rgb(0 0 0 / 100%) 3px 3px 10px;
  display: flex;
  background-color: #f6f4f1d8;
  flex-wrap: wrap;
  gap: 24px;
  margin: 20px 0;
  width: 100%;
  margin-top: 30px;
  max-width: 77vw;
  padding: 20px 0;
  box-sizing: border-box;
  border-radius: 13px;
  color: black;
}
.deroulent {
  appearance: none;
  margin-left: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 40px 10px 12px;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  width: 100%;
  max-width: 250px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D'10'%20height%3D'7'%20viewBox%3D'0%200%2010%207'%20fill%3D'none'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%3E%3Cpath%20d%3D'M1%201L5%205L9%201'%20stroke%3D'%23666'%20stroke-width%3D'2'%20/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  transition: border-color 0.2s ease-in-out;
}

.deroulent:focus {
  border-color: #888;
  outline: none;
}

.filters select {
  margin-top: 7px;
}
.filters label{
  font-size: 1.4em;
  margin-left: 40px;
}
.filters div {
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: 10px;
  text-align: center;
  color: #1a1a1ad5;
  font-size: 0.9rem;
}

@media (max-width: 1000px) {
  .filters {
    max-width: 87vw;
  }
  .aceul {
    height: 500px;
    
  }
  .textA {
    font-size: 1.4em;
  }

}
@media (max-width: 700px) {
  .filters {
    max-width: 87vw;
  }
  .aceul {
    height: 500px;
    
  }
  .textA {
    font-size: 1.4em;
  }

}